<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.printers.common.signin.mapper.SigninGroupRuleMapper">
    <resultMap type="com.qc.printers.common.signin.domain.entity.SigninGroupRule" id="SigninGroupRuleResult">
        <result property="id" column="id"/>
        <result property="rev" column="rev"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="rulesInfo" column="rules_info"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="groupId" column="group_id"/>
    </resultMap>

    <select id="getSigninGroupByUserIdWithTime" resultMap="SigninGroupRuleResult">
        -- git的格式化会导致异常 -> 容易多个空格
        SELECT *
        FROM signin_group_rule
        WHERE JSON_CONTAINS(rules_info -> '$.userIds', #{userId})
          AND start_time <![CDATA[ <= ]]> #{time}
          AND (end_time <![CDATA[ >= ]]> #{time2} OR end_time IS NULL)
        ORDER BY start_time DESC LIMIT 1;
    </select>

<!--    LocalDate getUserLastDateTime(@Param("userId") Long userId);-->
    <select id="getUserLastDateTime" resultType="java.time.LocalDate">
        -- git的格式化会导致异常 -> 容易多个空格
        SELECT
            MIN(start_time) AS earliest_start_time
        FROM
            signin_group_rule
        WHERE JSON_CONTAINS(rules_info -> '$.userIds', #{userId})
        ORDER BY earliest_start_time ASC
            limit 1
    </select>
</mapper>