<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置一个新密码</title>
</head>
<body>
<h1>密码设置</h1>
<h2>尊敬的<span th:text="${userName}"></span>,你好！</h2>
<h2>您当前可能是首次登录本平台，您最好设置一个新密码,以后登录时可以直接使用邮箱加密码进行验证</h2>

<form action="#" method="post" th:action="@{/api/user/setPasswordByOneTimeCodeReq}"
      th:object="${passwordByOneTimeCodeReq}">

    <form action="/submit-form" method="post">
        <input name="oneTimeCode" th:value="${oneTimeCode}" type="hidden"> <!-- 一次性密钥 -->
        <label for="password">新密码</label>
        <input id="password" name="password" placeholder="设置一个新密码" required type="password">
        <label for="rePassword">确认密码</label>
        <input id="rePassword" name="rePassword" placeholder="再次输入新密码" required type="password">
        <button type="submit">设 置</button>
    </form>
</form>
</body>
</html>
